.newUser{
    flex: 4;
}

.newUserForm{
display: flex;
flex-wrap: wrap;
}

.newUserFormItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newUserFormItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.newUserFormItem>input{
   height: 20px;
   padding: 10px;
   border-radius: 5px;
   border-radius: 1px solid gray; 
}
.newUserGender>input{
margin-top: 15px;
}
.newUserGender>label{
    font-size: 18px;
    color: #555;
    margin: 10px;
}

.newUserSelect{
    height: 40px;
    border-radius: 5%;
}

.newUserButton{
width: 200px;
border: none;
background-color: darkblue;
color: white;
padding: 7px 10px;
font-weight: 600;
border-radius: 10px;
cursor: pointer;
}